src/app/code/community/BSeller/SkyHub/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSeller Platform | B2W - Companhia Digital
 *
 * Do not edit this file if you want to update this module for future new versions.
 *
 * @category  BSeller
 * @package   BSeller_SkyHub
 *
 * @copyright Copyright (c) 2018 B2W Digital - BSeller Platform. (http://www.bseller.com.br)
 *
 * @author    Tiago Sampaio <tiago.sampaio@e-smart.com.br>
 */
-->
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="salesOrderEntity">
                <all>
                    <element name="bseller_skyhub" type="xsd:boolean" minOccurs="0" />
                    <element name="bseller_skyhub_code" type="xsd:string" minOccurs="0"/>
                    <element name="bseller_skyhub_channel" type="xsd:string" minOccurs="0"/>
                    <element name="bseller_skyhub_invoice_key" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="salesOrderListEntity">
                <all>
                    <element name="bseller_skyhub" type="xsd:boolean" minOccurs="0" />
                    <element name="bseller_skyhub_code" type="xsd:string" minOccurs="0"/>
                    <element name="bseller_skyhub_channel" type="xsd:string" minOccurs="0"/>
                    <element name="bseller_skyhub_invoice_key" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
        </schema>
    </types>
</definitions>
